$base-spacing: 1rem;

.mainContainer {
	padding-top: $base-spacing * 4;
	margin-bottom: $base-spacing * 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
}
